# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\New Amen\Projects_02\Deploy_Pro\JAVA\JavaFx_Socket\JavaFx_Socket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
